/* Dashboard ALL */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
.root {
  width: 100%;
  margin-top: 60px;
  padding: 10px 30px;
  text-align: center !important;
  margin: 0 auto !important;
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
}

.paper {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  margin-top: 70px;
  margin-bottom: 5px;
  padding-bottom: 30px;
  display: contents;
  background-color: #fff;
  border: 2px solid #000;

  padding: 5px;
}
.paper-table {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  margin-top: 70px;
  display: contents;

  margin-bottom: 5px;
  padding-bottom: 30px;
}
.container-title {
  width: 100%;
}
.title {
  font-size: 20px;
  padding: 20px 0;
  width: 100%;
  float: left;
  text-align: left;
}
.title-daftar-pasien {
  font-size: 15px;
  padding: 20px 0;
  width: 15%;
  float: left;
  text-align: left;
}
.header-title {
  word-wrap: break-word;
  background: #fff;
  line-height: 1rem;
  font-size: 14px !important;
  text-align: center;
  margin: 10px 2px 2px 2px;
  position: sticky;
  text-align: center;
  padding: 10px 3px;
  background-color: #e8e8e8;
}
.header-title-2 {
  min-width: 30px;
  max-width: 30px;
  word-wrap: break-word;
  background: #fff;
  line-height: 1rem;
  font-size: 14px !important;
  text-align: center;
  margin: 10px 2px 2px 2px;
  position: sticky;
  text-align: center;
  padding: 10px 3px;
  background-color: #e8e8e8;
}

.header-title.MuiTableCell-root {
  padding: 20px;
}

.table-obat-header {
  overflow-y: auto;
  max-height: 600px;
}
.table-obat-header thead th {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.table-lihat-obat-container {
  width: 600px;
  overflow-y: auto;
  max-height: 300px;
  text-align: center;
  margin: 0 auto;
}
.table-lihat-obat-container thead th {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header-title-lihat-obat {
  word-wrap: break-word;
  background: #fff;
  line-height: 1rem;
  font-size: 14px !important;

  margin: 10px 2px 2px 2px;
  position: sticky;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0px;
  background-color: #e8e8e8;
}
.header-title-lihat-obat-2 {
  word-wrap: break-word;
  background: #fff;
  line-height: 1rem;
  font-size: 14px !important;
  text-align: center;
  margin: 10px 2px 2px 2px;
  position: sticky;
  text-align: center;
  margin: 0 auto;

  padding: 10px 0px;
  background-color: #e8e8e8;
}
.table-list-lihat-obat {
  word-wrap: break-word;
  background: #fff;
  line-height: 1rem;
  font-size: 12px !important;
  text-align: left;
  margin: 2px;
  text-align: center;
  margin: 0 auto;
  position: sticky;
}
.table-list-lihat-obat.MuiTableCell-root {
  padding: 5px 0px;
}

.table-list-lihat-obat-2 {
  word-wrap: break-word;
  background: #fff;
  line-height: 1rem;
  font-size: 12px !important;
  margin: 10px 2px 2px 2px;
  position: sticky;
  text-align: center;
  padding: 10px 0px;
}
.table-list {
  min-width: 70px;
  max-width: 70px;
  word-wrap: break-word;
  background: #fff;
  line-height: 1rem;
  font-size: 12px !important;
  text-align: left;
  margin: 2px;
  position: sticky;
  text-align: center;
}
.table-list.MuiTableCell-root {
  padding: 5px;
}

.table-list-2 {
  min-width: 30px;
  max-width: 30px;
  word-wrap: break-word;
  background: #fff;
  line-height: 1rem;
  font-size: 12px !important;
  text-align: center;
  margin: 10px 2px 2px 2px;
  position: sticky;
  text-align: center;
  padding: 10px 3px;
}
.table-list-act {
  min-width: 20px;
  max-width: 20px;
  word-wrap: break-word;
  background: #fff;
  line-height: 1rem;
  font-size: 12px !important;
  text-align: center;
  margin: 2px;
  position: sticky;
  text-align: center;
}
.fab-row {
  box-shadow: none;
}
.axa .MuiFormControlLabel {
  font-size: 8px;
}
.aka .MuiSwitch-root {
  width: 72px;
  height: 20px;
  padding: 0;
}
.aka.MuiSwitch-switchBase {
  width: 72px;
  height: 20px;
  /* color: pink; */
  padding: 0px;
}
.aka .Mui-checked {
  transform: translateX(40px);
  background-color: green;
}
.aka .MuiSwitch-track {
  width: 72px;
  color: green;
}

@media (min-width: 600px) {
  .root {
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
    margin: 0 auto;
  }
  .paper {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .container-title {
    width: 100%;
  }
  .title {
    font-size: 20px;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .title-daftar-pasien {
    font-size: 15px;
    padding: 20px 0;
    width: 18%;
    float: left;
    text-align: left;
  }

  .headCompleted {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    padding: 0;
  }

  /* TABLE */
  .table-riwayat-header {
    overflow-y: auto;
    max-height: 134px !important;
  }
  .table-riwayat-header thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
  }
}
@media (max-width: 600px) {
  .root {
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
    margin: 0 auto;
  }
  .paper {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .container-title {
    width: 100%;
  }
  .title {
    font-size: 20px;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .title-daftar-pasien {
    font-size: 15px;
    padding: 20px 0;
    width: 25%;
    float: left;
    text-align: left;
  }

  /* TABLE */
  .table-riwayat-header {
    overflow-y: auto;
    max-height: 100px;
  }
  .table-riwayat-header thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .root {
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
    margin: 0 auto;
  }
  .paper {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .container-title {
    width: 100%;
    /* background-color: violet; */
  }
  .title {
    font-size: 20px;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .title-daftar-pasien {
    font-size: 15px;
    padding: 20px 0;
    width: 15%;
    float: left;
    text-align: left;
  }

  /* Table */
  .tableFixHeader {
    overflow-y: auto;
    max-height: 600px;
  }
  .table-riwayat-header {
    overflow-y: auto;
    max-height: 100px;
  }
  .table-riwayat-header thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
  }
  .tableFixHeader thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
  }

  /* Just common table stuff. Really. */
  table {
    border-collapse: collapse;
    width: 100%;
    overflow: unset !important;
    position: relative;
  }
  thead th {
    box-shadow: 0px 0px 1px silver;
  }

  table th .css-yk16xz-control {
    background: transparent;
  }
}
@media (min-width: 992px) {
  .root {
    width: 100%;
    /* background-color: brown; */
    margin: 10px 0 0 0;
    text-align: center;
    margin: 0 auto;
  }
  .paper {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .container-title {
    width: 100%;
  }
  .title {
    font-size: 20px;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .title-daftar-pasien {
    font-size: 15px;
    padding: 20px 0;
    width: 12%;
    float: left;
    text-align: left;
  }
}
